@use 'sass:math';
@use '../abstracts/variables' as var;

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1em 0;
	font-size: 0.8em;
	text-align: center;
}

.footer__text {
	font-size: inherit;
	font-weight: var.$font-weight-300;
	line-height: math.div(26, 18);
}
